.RPKButton {
  background-color: #398def;
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  height: 40px;
  cursor: pointer;
  /* identical to box height */
  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
  

  svg {
    margin-left: 20px;
    // font-size: 20px;
  }

}
