@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
.requestRow__header{
background-color: black;
}


.requestRow__body{
  padding-left: 1rem;
  background-color: #333333;
  font-size: 1rem;
}